{
  "root": true,
  "parser": "babel-eslint",
  "extends": "vue",
  "rules": {
    "no-undef": 0,
    "no-duplicate-imports": 0,
    "no-unused-vars": 0,
    "eol-last": 0
  },
  "globals": {
    "FileReader": true
  }
}
