*.log
__pycache__
frontEnd/node_modules
frontEnd/dist
.DS_Store
.DS_Store?
*.pyc
mysql/*
servdata/logs/*
static/temp
static/static/dependencies/store
static/static/dependencies/jquery
static/static/dependencies/jquery-ui
static/static/dependencies/bootstrap
static/static/dependencies/select2
static/static/dependencies/font-awesome
static/static/dependencies/bootstrap-table
static/static/dependencies/bootstrap-datepicker
static/static/dependencies/bootstrap-daterangepicker
static/static/dependencies/bootstrap-dialog
static/static/dependencies/lightbox2
static/static/dependencies/jquery-slimscroll
static/static/dependencies/x-editable
static/static/dependencies/jquery-sparkline
static/static/dependencies/jvectormap
static/static/dependencies/fastclick
static/static/dependencies/raphael
static/static/dependencies/moment
static/static/dependencies/tableexport.jquery.plugin
static/static/dependencies/cropper
static/static/dependencies/crypto-js
static/static/dependencies/ckeditor
static/static/dependencies/icheck
